# Python files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
.venv/
env/
venv/

# Django stuff:
db.sqlite3
/media
/static

# PyCharm project files
.idea/

# VSCode settings
.vscode/

# Mac OS X files
.DS_Store

# Windows system files
Thumbs.db

# Log files
*.log

# Coverage directory from coverage.py
.coverage
*.cover
